@model Projekt_ASP_NET.ViewModels.BranchViewModel

<h1>Dodaj oddział</h1>

@using (Html.BeginForm("Add", "Branch", FormMethod.Post))
{
    @Html.ValidationSummary()
    ;

    <div class="form-group">
        <label>Lokalizacja:</label>
        @Html.TextBoxFor(x => x.Branch.Locality, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Liczba pojazdów:</label>
        @Html.TextBoxFor(x => x.Branch.NumberOfVehicles, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Wybierz użytkownika:</label>
        @Html.DropDownListFor(x => x.Branch.UserId, Model.Users, "Wybierz użytkownika", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Dodaj oddział</button>
}