@model Projekt_ASP_NET.ViewModels.LoginViewModel

<h2>Logowanie</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <span>Login:</span> @Html.TextBoxFor(x => x.UserName)
    <span>Hasło:</span> @Html.PasswordFor(x => x.Password)
    <button type="submit">Zaloguj</button>
}