@{
    ViewData["Title"] = "Start";
}

<div class="text-center" style="margin-top: 30px; display: flex; justify-content: space-between; align-items: center;">
    <div style="flex: 1;">
        <h1 class="display-4" style="margin-bottom: 20px;">Zapraszamy - Wypożyczalnia rowerów<br /> i pojazdów</h1>
        <p>
            Jesteśmy platformą umożliwiającą zarządzanie wielooddziałowymi wypożyczalniami rowerów oraz innych pojazdów, takich jak hulajnogi, trójkołowce czy deskorolki.
            Nasz system oferuje kompleksową funkcjonalność, która sprawia, że wypożyczanie pojazdów staje się łatwe i wygodne.
        </p>
    </div>
    <div style="flex: 1;">
        <img src="~/pexels-magda-ehlers-2547627.jpg" alt="Nasze pojazdy" style="max-width: 100%;">
    </div>
</div>

