<div class="container">
    <h1>Oświadczenie RODO</h1>

    <ol>
        <li>Administratorem danych osobowych jest firma UBB Sport Equipment Rental System.</li>
        <li>Twoje dane osobowe będą przetwarzane w celu określonym przez naszą firmę.</li>
        <li>Podanie danych osobowych jest dobrowolne, jednakże może być konieczne do realizacji określonych usług lub celów.</li>
        <li>Masz prawo dostępu do treści swoich danych osobowych oraz ich sprostowania, usunięcia lub ograniczenia przetwarzania, a także prawo do wniesienia sprzeciwu wobec przetwarzania oraz prawo do przenoszenia danych.</li>
        <li>Masz prawo do wniesienia skargi do organu nadzorczego, którym jest lorem ipsum.</li>
        <li>Dane osobowe będą przechowywane przez okres niezbędny do realizacji celów, dla których zostały zebrane, oraz przez okres wymagany przepisami prawa.</li>
        <li>Kontakt w sprawie ochrony danych osobowych: lorem.ipsum@lorem.com.</li>
    </ol>
</div>

