<div class="container">
    <h1>Polityka Prywatności</h1>
    <p>Dziękujemy zaodwiedzenie naszej strony internetowej. Niniejsza Polityka Prywatności wyjaśnia, w jaki sposób zbieramy, wykorzystujemy, udostępniamy i chronimy Twoje dane osobowe.</p>

    <h2>1. Rodzaje zbieranych danych</h2>
    <p>Podczas korzystania z naszej strony internetowej możemy gromadzić następujące rodzaje danych osobowych:</p>
    <ul>
        <li>Informacje o Twoim urządzeniu, w tym adres IP, typ przeglądarki, strefę czasową i unikalne identyfikatory urządzeń.</li>
        <li>Informacje o Twoich aktywnościach na stronie, takie jak przeglądane strony, czas spędzony na stronie i kliknięcia.</li>
        <li>Informacje, które nam udostępniasz poprzez formularze kontaktowe lub rejestracyjne, takie jak imię, nazwisko, adres e-mail, numer telefonu itp.</li>
    </ul>

    <h2>2. Cel zbierania danych</h2>
    <p>Gromadzimy Twoje dane osobowe w celu:</p>
    <ul>
        <li>Świadczenia i personalizacji usług oferowanych na naszej stronie.</li>
        <li>Prowadzenia analizy statystycznej dotyczącej korzystania z naszej str
    </ul>
</div>

