div[b-2evomm899w] {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container[b-2evomm899w] {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2[b-2evomm899w] {
    margin-top: 20px;
}

p[b-2evomm899w] {
    margin-bottom: 20px;
}
